(common) {
  encode gzip
  php_fastcgi unix//run/php-fpm/php-fpm.sock
  tls internal
  file_server
  header * {
    # You may want some other header options...
    X-Frame-Options "DENY"
    X-XSS-Protection "1; mode=block"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
  }

}

(kirby) {
  @blocked {
    path *.txt *.md *.mdown
  }
  redir @blocked /
}

:2015 {
    import common
    import kirby
    root * /home/your_path/your_app/
}
